.list {
    list-style: none;
    padding-bottom: 30px;
}

.from {
    border: 3px solid black;
    width: 20cm;
    margin-left: 90px;
    padding-left: 10px;
    text-align: left;
    background-color: antiquewhite;
    color: black;
    border-radius: 4px;
    box-shadow: 2px;
    word-spacing: 65px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: rgb(0, 7, 211);
    border-radius: 50%;
    display: inline-block;
  }

  .delete {
    border-radius: 2px;
    margin-left: 30px;
    background-color: beige;
    border-style: none;
    color: black;
  }

.div{
  padding: 30px;
}

.close {
  padding-top: 50px;
  float: right;
}

.body{
  padding-top: 50px;
}

.subject {
  padding-top: 20px;
}