.auth {
    margin: 10rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 10px;
    background-color: rgb(255, 203, 105);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
    color: black;
  }
  
  .auth h1 {
    text-align: center;
    color: black;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .butt {
    color: pink;
  }
  
  .control label {
    display: block;
    color: black;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    font: inherit;
    background-color:white;
    color: black;
    border-radius: 4px;
    border: 1px solid,rgb(206, 206, 249);
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    padding: 20px;
    font: inherit;
    color: black;
    background-color: rgba(29, 171, 226, 0.956);
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .actions button:hover {
    background-color: #873abb;
    border-color: #873abb;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: black;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: blue;
  }
  
  .passwordbutton {
  
    border: none;
  }
  
  .passwordbutton .toggle:hover {
    background-color: transparent;
    color: blue;
  }